---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";

const posts = await Astro.glob("./posts/*.md");
---

<Layout title="Blog">
  <Navigation />
  <main>
    {
      posts.map((post) => (
        <div>
          <a class="blog__link" href={post.url}>
            {post.frontmatter.title}
          </a>
          <p class="blog__description">{post.frontmatter.description}</p>
          <ul class="blog__tags">
            {post.frontmatter.tags.map((tag: string) => (
              <li class="blog__tag">{tag}</li>
            ))}
          </ul>
        </div>
      ))
    }
  </main>
</Layout>

<style>
  main {
    min-width: 100%;
    max-width: 60ch;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  main > p {
    margin-bottom: 2em;
    font-weight: 400;
    font-size: 0.9em;
    line-height: 1.2rem;
  }

  .blog__link {
    color: black;
    font-weight: 600;
    font-size: 1.2em;
    text-decoration: none;
    transition: color 0.1s;
  }

  .blog__link:hover {
    color: rgb(117, 117, 117);
  }

  .blog__description {
    margin-top: 0.2em;
    font-size: 0.825em;
  }

  .blog__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    font-size: 0.78em;
    color: #3f3f3f;
    list-style-type: "/ ";
    list-style-position: inside;
    padding: 0;
  }

  .blog__tag:first-of-type {
    list-style-type: none;
    list-style-position: inside;
  }
</style>
