---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";

const posts = await Astro.glob("./posts/*.md");

const sorted = posts.sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).getTime() -
    new Date(a.frontmatter.pubDate).getTime()
);
---

<Layout title="Blog">
  <Navigation />
  <main>
    {
      sorted.map((post) => (
        <div class="blog">
          <mark>
            <a class="blog__link" href={post.url}>
              {post.frontmatter.title}
            </a>
          </mark>
          <p class="blog__description">{post.frontmatter.description}</p>
          <ul class="blog__tags">
            {post.frontmatter.tags.map((tag: string) => (
              <li class="blog__tag">{tag}</li>
            ))}
          </ul>
        </div>
      ))
    }
  </main>
  <Footer />
</Layout>

<style>
  main {
    gap: 0.5em;
  }

  main > p {
    margin-bottom: 2em;
    font-weight: 400;
    font-size: 0.9em;
    line-height: 1.2rem;
  }

  .blog__link {
    color: black;
    font-weight: 600;
    font-size: 1.2em;
    text-decoration: none;
    transition: color 0.1s;
  }

  .blog__link:hover {
    color: rgb(117, 117, 117);
  }

  .blog__description {
    margin-top: 0.2em;
    font-size: 0.825em;
  }

  .blog__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    font-size: 0.78em;
    color: #3f3f3f;
    list-style-type: "/ ";
    list-style-position: inside;
    padding: 0;
  }

  .blog__tag:first-of-type {
    list-style-type: none;
    list-style-position: inside;
  }
</style>
