---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Lean Junio">
	<Navigation />
	<main>
		<p>
			Full-Stack Engineer with a breadth of experience working across the
			Software Development Lifecycle as a product-minded contributor wearing
			many hats. Proficient in agile methodology practices using technologies
			such as <mark>JavaScript, React, and Node.js.</mark>
		</p>
	</main>
	<Footer />
</Layout>

<style>
	main {
		min-width: 100%;
		max-width: 60ch;
	}

	main > p {
		margin-bottom: 2em;
		font-weight: 400;
		font-size: 0.9em;
		line-height: 1.2rem;
	}
</style>
