---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Lean Junio">
	<Navigation />
	<main>
		<p>
			Full-Stack Engineer with a breadth of experience working across the
			Software Development Lifecycle as a product-minded contributor wearing
			many hats. Proficient in agile methodology practices using technologies
			such as <mark>JavaScript, React, and Node.js.</mark>
		</p>
		<p>
			Feel free to reach me at <a href="mailto:leanjunio@outlook.com"
				>leanjunio@outlook.com</a
			> or setup a call with me through <a href="https://cal.com/leanjunio"
				>https://cal.com/leanjunio</a
			>
		</p>
	</main>
	<Footer />
</Layout>

<style>
	main > p {
		font-weight: 400;
		font-size: 0.9em;
		line-height: 1.2rem;
	}
</style>
