<footer>
  <a class="footer__link" href="http://linkedin.com/in/leanjunio">LinkedIn</a>
  <a class="footer__link" href="http://github.com/leanjunio">GitHub</a>
  <a class="footer__link" href="http://twitter.com/leanjunio">Twitter</a>
</footer>
<style>
  footer {
    display: flex;
    gap: 1em;
  }

  .footer__link {
    color: black;
    text-decoration: underline;
  }
</style>