---
---

<nav>
  <a class="nav__link" href="/my-website/">About</a>
  <a class="nav__link" href="/my-website/work/">Work</a>
  <a class="nav__link" href="/my-website/projects/">Projects</a>
  <a class="nav__link" href="/my-website/blog/">Blog</a>
</nav>
<style>
  nav {
    display: flex;
    gap: 1em;
    margin: 1rem 0;
  }

  a {
    text-decoration: none;
  }

  .nav__link {
    text-decoration: none;
    color: #898989;
    font-weight: 500;
  }

  .nav__link-visited {
    color: black;
  }
</style>
