---
import Layout from "./Layout.astro";
import Navigation from "../components/Navigation.astro";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <Navigation />
  <div class="post">
    <h1>{frontmatter.title}</h1>
    <span>{frontmatter.description}</span>
    <p class="post__date">Published: {frontmatter.pubDate.slice(0, 10)}</p>
  </div>
  <slot />
</Layout>

<style>
  h1 {
    font-size: 1.8em;
    font-weight: 600;
    margin-bottom: 0.2em;
  }

  span,
  .post__date {
    font-size: 0.9em;
    color: #555555;
    font-weight: 500;
  }

  .post {
    margin-bottom: 2rem;
  }
</style>
